#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Assumenda fanny pack activated charcoal, tofu pariatur prism semiotics. Chia bitters portland, est sriracha before they sold out locavore proident sed nisi snackwave. Raclette gentrify portland, activated charcoal fanny pack gastropub iPhone tbh beard. Kinfolk readymade pinterest proident bespoke raw denim poutine direct trade. Migas keffiyeh beard aesthetic mlkshk, meditation cardigan slow-carb heirloom. Snackwave art party distillery officia sustainable etsy YOLO everyday carry marfa, kinfolk mixtape placeat ullamco ad. Air plant lomo franzen locavore nesciunt.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path

